@{
   Layout="~/Shared/_Layout.cshtml";
   string soruid="";

   try{
       soruid=Request.QueryString["SoruID"];
   }catch{
       Response.Redirect("~/Shared/Hata?No=300",true);
   }


   if(String.IsNullOrEmpty(soruid)){ //soruid verilmemişse
       Response.Redirect("~/Shared/Hata?No=400",true);
   }

   Page.Menu=1;
   var db=Database.Open("DB");
   if(!WebSecurity.IsAuthenticated)
   {
        Response.Redirect("~/Shared/Hata?No=500",true);
   }


    if(IsPost)
    {
        bool hata=true;
        var fotoDosyaAdi = "";
        var yorumMetni=Request["yorumTxt"];


                var uploadEdilen = Request.Files[0];
                if(uploadEdilen.ContentLength <= 0)
                {
                    fotoDosyaAdi="null";
                    hata=false;
                }
                else
                {
                    fotoDosyaAdi = soruid+"__"+WebSecurity.CurrentUserId.ToString()+"_"+DateTime.Now.ToString("yyyy_MM_dd_HH_mm_ss")+".jpg";
                    var klasorYolu = Server.MapPath("~/img/yorumFoto/" + fotoDosyaAdi);
                    uploadEdilen.SaveAs(klasorYolu);
                    hata=false;
                }





        if(!hata){
            db.Execute("INSERT INTO Yorum(UserID,SoruID,YorumMetni,YorumFoto) VALUES(@0,@1,@2,@3)",WebSecurity.CurrentUserId,soruid,yorumMetni,fotoDosyaAdi);
        }

    }
    dynamic soru=null;
    try{
    soru=db.QuerySingle("SELECT * FROM Soru INNER JOIN Kategori ON Kategori.KategoriID=Soru.KategoriID INNER JOIN Users ON Users.UserID=Soru.UserID WHERE SoruID=@0",soruid);
    }
    catch{
        Response.Redirect("~/Shared/Hata?No=300",true);
    }
    if(soru==null){ //soru yoksa
        Response.Redirect("~/Shared/Hata?No=400",true);
    }

    var yorumlar = db.Query("SELECT * FROM Yorum INNER JOIN Users ON Users.UserID=Yorum.UserID WHERE SoruID=@0",soruid);
    Page.Title=soru.Baslik;





}
<div class="row">
    <div class="col-xs-12 col-md-10 col-md-offset-1">
        <div class="[ panel panel-primary ] panel-google-plus">
            <div class="panel-google-plus-tags">
                <ul>
                    <li><span class="glyphicon glyphicon-tag"></span> @soru.Ad</li>
                </ul>
            </div>
            <div class="panel-heading">
                <img class="[ img-circle pull-left ]" src="@Href(Ortak.ProfilFotoUrlOlustur(soru.ProfilPhoto)+"?" + DateTime.Now.Ticks.ToString())" width="60" height="auto" alt="Soruyu Soran" />
                <h3 style="font-size: 20px;"><a class="panel-google-plus-image" href="#">@soru.Baslik</a></h3>
                <h5><span><span class="glyphicon glyphicon-user"></span> @soru.Username</span> | <span><span class="glyphicon glyphicon-calendar"></span> @Ortak.convertTimeElapsed(soru.SorulmaTarihi) </span> </h5>
            </div>
            <div class="panel-body" style="">
                <pre style="margin:0 0 10.5px;font-size: 13px;font-family: 'Roboto', sans-serif;line-height: 1.42857143;color: #333333;background-color: #fff;border-width: 0;">@soru.Aciklama</pre>
            </div>
            @if(soru.Foto!="null"){
                <div class="panel-footer" style="margin-top: -25px;">
                    <hr>
                    <a class="image-popup-fit-width" href="@Href("/img/soruFoto/"+soru.Foto)" title="@soru.Baslik">
                        <img src="@Href("/img/soruFoto/"+soru.Foto)" height="150" alt="Soru resmi"></a>
                </div>
            }
        </div>
    </div>
</div>
<h3 class="text-center">Yorumlar</h3>

<div class="col-xs-12 col-sm-12 col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2">

    @foreach(var i in yorumlar){
        var begendiMi=db.QueryValue("SELECT Count(*) FROM Begenilme WHERE YorumID=@0 AND UserID=@1",i.YorumID,WebSecurity.CurrentUserId);
        <div class="panel panel-white yorum">
            <div class="post-heading">
                <div class="pull-left image">
                    <img src="@Href(Ortak.ProfilFotoUrlOlustur(i.ProfilPhoto)+"?" + DateTime.Now.Ticks.ToString())" class="img-circle avatar" width="50" height="auto" alt="@i.Username">
                </div>
                <div class="pull-left meta">
                    <div class="title h5">
                        <a href="#"><b>@i.Username</b></a>
                            bir yorum yaptı
                    </div>
                    <h6 class="text-muted time">@Ortak.convertTimeElapsed(i.YorumTarihi)</h6>
                </div>
            </div>
            <div class="post-description">
                <pre style="margin:0 0 10.5px;font-size: 13px;font-family: 'Roboto', sans-serif;line-height: 1.42857143;color: #333333;background-color: #fff;border-width: 0;white-space: pre-wrap;overflow: auto;word-break: keep-all;">@i.YorumMetni</pre>
                @if(i.YorumFoto!="null"){
                    <div class="panel-footer">
                        <a class="image-popup-fit-width" href="@Href("/img/yorumFoto/"+i.YorumFoto)" title="@soru.Baslik">
                            <img src="@Href("/img/yorumFoto/"+i.YorumFoto)" height="150" alt="yorum resmi"></a>

                    </div>}
                @if(begendiMi>0){
                    <div class="stats">
                            <button disabled id="Begen" class="btn btn-default stat-item">
                                <i class="fa fa-thumbs-up icon"></i> @Ortak.BegenmeSayisiGetir(i.YorumID,"Begenme")
                            </button>
                            <button disabled id="Begenme" class="btn btn-default stat-item">
                                <i class="fa fa-thumbs-down icon"></i> @Ortak.BegenmeSayisiGetir(i.YorumID,"Begenmeme")
                            </button>
                    </div>
                }else{
                    <div class="stats">
                        <form method="post" action="@Href("~/YorumBegen")">
                            <input name="dataYorumID" type="text" value="@i.YorumID" hidden />
                            <input name="IslemTipi" type="text" value="Begen" hidden />
                            <input name="SoruID" type="text" value="@soruid" hidden />
                            <button type="submit" id="Begen" class="btn btn-default stat-item">
                                <i class="fa fa-thumbs-up icon"></i> @Ortak.BegenmeSayisiGetir(i.YorumID,"Begenme")
                            </button>
                        </form>
                        <form method="post" action="@Href("~/YorumBegen")">
                            <input name="dataYorumID" type="text" value="@i.YorumID" hidden />
                            <input name="IslemTipi" type="text" value="Begenme" hidden />
                            <input name="SoruID" type="text" value="@soruid" hidden />
                            <button type="submit" id="Begenme" class="btn btn-default stat-item">
                                <i class="fa fa-thumbs-down icon"></i> @Ortak.BegenmeSayisiGetir(i.YorumID,"Begenmeme")
                            </button>
                        </form>
                    </div>
                }
            </div>
        </div>
    }



    <div class="widget-area no-padding blank">
        <div class="status-upload">

            <form method="post" enctype="multipart/form-data" class="text-center">
                <textarea name="yorumTxt" placeholder="Yukarıdaki soru hakkında ne düşünüyorsun ?"></textarea>
                <div class="row">
                    <div class="col-md-8 col-md-offset-3 col-sm-8 col-sm-offset-3 col-xs-8 col-xs-offset-2">
                        <ul>
                            <li><div class="input-group">
                                    <div class="fileupload fileupload-new" data-provides="fileupload">
                                        <span class="btn btn-warning btn-file"><span class="fileupload-new"><i class="fa fa-picture-o"></i> Fotoğraf Seç</span>
                                            <span class="fileupload-exists"><i class="fa fa-picture-o"></i> Değiştir</span>         <input type="file" name="foto" /></span>
                                        <span class="fileupload-preview"></span>
                                        <a href="#" class="close fileupload-exists" data-dismiss="fileupload" style="float:none">×</a>
                                    </div>
                                </div></li>
                        </ul>
                        <ul>
                            <li><div class="input-group">
                                    <div class="fileupload fileupload-new" data-provides="fileupload">
                                        <button type="submit" class="gonderBtn btn btn-success green"><i class="fa fa-share"></i> Yorum Yap</button>
                                    </div>
                                </div></li>
                        </ul>
                    </div>
                </div>
            </form>

        </div>
    </div><!-- Widget Area -->
</div>



</div>
@section JS
{
    <script>
        !function(e){var t=function(t,n){this.$element=e(t),this.type=this.$element.data("uploadtype")||(this.$element.find(".thumbnail").length>0?"image":"file"),this.$input=this.$element.find(":file");if(this.$input.length===0)return;this.name=this.$input.attr("name")||n.name,this.$hidden=this.$element.find('input[type=hidden][name="'+this.name+'"]'),this.$hidden.length===0&&(this.$hidden=e('<input type="hidden" />'),this.$element.prepend(this.$hidden)),this.$preview=this.$element.find(".fileupload-preview");var r=this.$preview.css("height");this.$preview.css("display")!="inline"&&r!="0px"&&r!="none"&&this.$preview.css("line-height",r),this.original={exists:this.$element.hasClass("fileupload-exists"),preview:this.$preview.html(),hiddenVal:this.$hidden.val()},this.$remove=this.$element.find('[data-dismiss="fileupload"]'),this.$element.find('[data-trigger="fileupload"]').on("click.fileupload",e.proxy(this.trigger,this)),this.listen()};t.prototype={listen:function(){this.$input.on("change.fileupload",e.proxy(this.change,this)),e(this.$input[0].form).on("reset.fileupload",e.proxy(this.reset,this)),this.$remove&&this.$remove.on("click.fileupload",e.proxy(this.clear,this))},change:function(e,t){if(t==="clear")return;var n=e.target.files!==undefined?e.target.files[0]:e.target.value?{name:e.target.value.replace(/^.+\\/,"")}:null;if(!n){this.clear();return}this.$hidden.val(""),this.$hidden.attr("name",""),this.$input.attr("name",this.name);if(this.type==="image"&&this.$preview.length>0&&(typeof n.type!="undefined"?n.type.match("image.*"):n.name.match(/\.(gif|png|jpe?g)$/i))&&typeof FileReader!="undefined"){var r=new FileReader,i=this.$preview,s=this.$element;r.onload=function(e){i.html('<img src="'+e.target.result+'" '+(i.css("max-height")!="none"?'style="max-height: '+i.css("max-height")+';"':"")+" />"),s.addClass("fileupload-exists").removeClass("fileupload-new")},r.readAsDataURL(n)}else this.$preview.text(n.name),this.$element.addClass("fileupload-exists").removeClass("fileupload-new")},clear:function(e){this.$hidden.val(""),this.$hidden.attr("name",this.name),this.$input.attr("name","");if(navigator.userAgent.match(/msie/i)){var t=this.$input.clone(!0);this.$input.after(t),this.$input.remove(),this.$input=t}else this.$input.val("");this.$preview.html(""),this.$element.addClass("fileupload-new").removeClass("fileupload-exists"),e&&(this.$input.trigger("change",["clear"]),e.preventDefault())},reset:function(e){this.clear(),this.$hidden.val(this.original.hiddenVal),this.$preview.html(this.original.preview),this.original.exists?this.$element.addClass("fileupload-exists").removeClass("fileupload-new"):this.$element.addClass("fileupload-new").removeClass("fileupload-exists")},trigger:function(e){this.$input.trigger("click"),e.preventDefault()}},e.fn.fileupload=function(n){return this.each(function(){var r=e(this),i=r.data("fileupload");i||r.data("fileupload",i=new t(this,n)),typeof n=="string"&&i[n]()})},e.fn.fileupload.Constructor=t,e(document).on("click.fileupload.data-api",'[data-provides="fileupload"]',function(t){var n=e(this);if(n.data("fileupload"))return;n.fileupload(n.data());var r=e(t.target).closest('[data-dismiss="fileupload"],[data-trigger="fileupload"]');r.length>0&&(r.trigger("click.fileupload"),t.preventDefault())})}(window.jQuery)
    </script>
    <script>
        $("form").submit(function() {$("#gonderBtn").html('<i class="fa fa-spinner fa-pulse"></i> Yükleniyor...');});    
    </script>
    <script>
        var item_id = $(this).attr("id");
    </script>
}